@mixin center-flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

@mixin anchor {
  text-decoration: none;
  color: $base-font-colour;

  &:visited {
    color: $base-font-colour;
  }

  &:hover {
    color: $interaction-colour;
  }
}

.front--tile {
  @include center-flex();

  & a {
    @include anchor;
  }
  
  &-excerpt {
    position: absolute;
    width: 50%;
    visibility: hidden;
  }
}