$base-font-family: 'Monteserrat', sans-serif;
$base-font-size: 1rem;
$base-font-colour: #222222;
$base-font-weight: 100;
$base-line-height: 1.6;
$base-font-scale: 1.333;

$background-colour: #FFF;
$interaction-colour: #FA4169;
$outline-colour-for-touch: $interaction-colour;

$max-reading-width: 56.25em;
$for-large-view: $max-reading-width;

$hero-colour: #383F51;
$hero-font-colour: #FFF;