@import '_config';
@import '_type-scale';

.grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(auto-fit, 1fr);

  overflow: hidden;

  @include break($for-large-view) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(autofit, 1fr);
  }
}