@import "_config";

@function pow($base, $index) {
  $result: 1;

  @for $i from 0 to $index {
    @if $index > 0 {
      $result: $result * $base;
    } @else {
      $result: $result / $base;
    }
  }

  @return $result;
}

.center-text {
  text-align: center;
  align-self: center;
}

body {
  font-size: scale-text(0);
}

h1 {
  font-size: scale-text(2);

  @include break($for-large-view) {
    font-size: scale-text(4);  
  }
}

h2 {
  font-size: scale-text(1); 

  @include break($for-large-view) {
    font-size: scale-text(3); 
  }
}

h3 {
  font-size: scale-text(0);  

  @include break($for-large-view) {
    font-size: scale-text(2);
  }
}

h4 {
  font-size: scale-text(0);

  @include break($for-large-view) {
    font-size: scale-text(1);
  }
}

small {
  font-size: scale-text(-1);
}

$type-scale: (
    -1: pow($base-font-scale, -1) * $base-font-size,
    0: $base-font-size,
    1: pow($base-font-scale, 1) * $base-font-size,
    2: pow($base-font-scale, 2) * $base-font-size,
    3: pow($base-font-scale, 3) * $base-font-size,
    4: pow($base-font-scale, 4) * $base-font-size,
    5: pow($base-font-scale, 5) * $base-font-size
);

@function scale-text($by) {
  @return map_get($type-scale, $by);
}